{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Outils de saisie de tâches {% endblock %}

{% block body %}

{# Start Result Filter #}
{% set sortProject = app.request.query.get('sortProject') %}
{# End Result Filter#}

<section class="margin-top-2">
    <div class=" add-project margin-bottom-2">
        <a href="{{ path('project_create') }}" class="btn btn-primary"><i class="fas fa-plus"></i>Ajouter un projet</a>
    </div>

    {# Start Filter #}
    <div class="filter margin-left-1 margin-bottom-2">
        <div class="display-none margin-right-1">Filtres :</div>
        <form action="{{ path('main_home') }}" name="form" method="GET">
            <div class="filter">
                <div class="margin-right-1">
                    <select name="sortProject">
                        <option value="">Tous les projets</option>
                        {% for project in projects %}
                            <option value="{{ project.name }}" {{ project.name == sortProject ? "selected" : ""}}>Projet : {{ project.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-action">Rechercher</button>
                </div>
    
            </div>
        </form>
    </div>
    {# End Filter #}

    <div class="stats margin-left-1">
        <div>Nombre de tâches effectuées : <span class="number">{{ total }}</span></div>
        <div>Temps total des tâches : <span class="number"></span></div>
        <div>Temps moyen de travail par jour : <span class="number"></span></div>
    </div>
    <hr>
    <div class="data">
        <div class="header-data margin-left-1 margin-right-1">
            <div class="task-label">
                Tâche
            </div>
            <div class="project-label">
                Projet
            </div>
            <div class="start-label">
                Date de début
            </div>
            <div class="end-label">
                Date de fin
            </div>
            <div class="check-label">
                Facturée
            </div>
            <div class="action-label">
                Action
            </div>
        </div>
        <div class="add-task margin-top-1">
            <a href="{{ path('task_create') }}" class="btn btn-primary"><i class="fas fa-plus"></i>Ajouter une nouvelle tâche</a>   
        </div>

        {% for task in tasks %}
            <div class="task margin-top-1">
                <div class="task-data">
                    <div class="data-label">Tâche :</div>
                    <strong>{{ task.name }}</strong>
                </div>
                <div class="project-data">
                    <div class="data-label">Projet :</div>
                    <div class="project" style="background-color: {{ task.project.color }}">
                        {{ task.project.name }}
                    </div>
                </div>
                <div class="start-data">
                    <div class="data-label">Début :</div>
                    {{ task.startAt|date("j M Y") }}
                </div>
                <div class="end-data">
                    <div class="data-label">Fin :</div>
                    {{ task.endAt|date("j M Y") }}
                </div>
                <div class="check-data">
                    <div class="data-label">Facturée :</div>
                    X
                </div>
                <div class="action-data">
                    <a href="{{ path('task_delete', {id: task.id}) }}" class="delete">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
